<!DOCTYPE html>
<html lang="es" ng-app="eclass">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial-scale=1 ,maximum-scale=1">
    <link href="./public/favicon.png" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="./public/css/estilos.css">
    <title>Spotify</title>
  </head>
  <body ng-controller="EclassController">
    <header>
      <h1> <span aria-hidden="true" class="fa fa-spotify"></span>Spotify</h1>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xs-8">
          <div id="spotify">
            <h3 class="title">Resultados para {{artista_name}}			</h3>
            <article ng-repeat="cancion in canciones | filter: buscador"><a href="#" rel="popover" title="Detalles"><span aria-hidden="true" class="fa fa-music"></span>{{cancion.track_number}} - {{cancion.name}} {{cancion.duration_ms | date: 'mm:ss'}}</a>
              <div id="example-popover-2-content" class="hidden">
                <ul>
                  <li> <strong>Artista: </strong><span>{{artista_name}}</span></li>
                  <li> <strong>Canción: </strong><span>{{cancion.name}}</span></li>
                  <li> <strong>Álbum: </strong><span>Grandes Éxitos						</span></li>
                  <li> <strong>Track: </strong><span>{{cancion.track_number}}</span></li>
                  <li> <strong>Duración: </strong><span>{{cancion.duration_ms | date: 'mm:ss'}}</span></li>
                </ul>
              </div>
            </article>
          </div>
        </div>
        <div class="col-xs-4">
          <form>						
            <h4><span aria-hidden="true" class="fa fa-search"></span>{{ (canciones | filter: buscador).length  }} de {{canciones.length}} canciones </h4>
            <input type="text" ng-model="buscador" placeholder="Buscar Canción" class="form-control">
          </form>
          <figure><img src="./public/img/cover.jpg" alt="{{artista_name}}">
            <figcaption>{{artista_name}}</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="./public/js/app.js"></script>
    <script src="./public/js/controllers.js"></script>
  </body>
</html>