h2 Álbum de la Semana

article
	.col-sm-4
		figure
			img(src="./public/img/cover.jpg" alt="{{artista_name}}")
			//- span(class="fa fa-spotify" aria-hidden="true")

	.col-sm-8
		h4 {{artista_name}}
		h5 Grandes Éxitos

.col-sm-12
	table

		tr(ng-repeat="item in canciones | filter: buscador")
			td {{item.track_number}}	
			td 
				p {{item.name}}
