h2 Álbum de la Semana

article
	.col-sm-4
		figure
			img(src="./public/img/cover.jpg" alt="{{artista_name}}")
			//- span(class="fa fa-spotify" aria-hidden="true")

	.col-sm-8
		h4 {{artista_name}}
		h5 Grandes Éxitos

.col-sm-12
	table

		tr(ng-repeat="cancion in canciones | filter: buscador")
			td {{cancion.track_number}}	
			td 
				a(title="Descripción:" custom-popover popover-html="Artista: {{artista_name}} <br /> Título: {{cancion.name}} <br /> Track: {{cancion.track_number}} <br /> Duración: {{cancion.duration_ms | date: 'mm:ss'}}" popover-placement="bottom" popover-label="Label")
					| {{cancion.name}}