h2(class="wow fadeInDown") Álbum de la Semana

article(class="wow tada" data-wow-duration="1s" data-wow-delay="1s")
	.col-sm-4
		figure
			img(src="./public/img/cover.jpg" alt="{{artista_name}}")
			//- span(class="fa fa-spotify" aria-hidden="true")

	.col-sm-8
		h4 {{artista_name}}
		h5 Grandes Éxitos

.col-sm-12
	table

		tr(ng-repeat="item in canciones | filter: buscador" class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s")
			td {{item.track_number}}	
			td 
				p {{item.name}}
