doctype html
html(lang='es')

	- var title = "eClass Spotify"

	head
		meta(charset='utf-8')
		meta(name="viewport" ,content="width=device-width , initial-scale=1 ,maximum-scale=1")
		link(href="./public/favicon.png" rel="shortcut icon" type="image/png")
		link(rel="stylesheet", href="./public/css/estilos.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
		title #{title}

	body
		//- img(src="./public/img/logo.png" alt="#{title}")
		h1 #{title}

		#spotify
			h3 Resultados para 
				span.artista
			img(src="", style="width:250px; height:auto")
			ul

		script(src="https://code.jquery.com/jquery-2.2.4.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js")
		script(src="./public/js/app.js")
