//- h2 Buscador de canciones

form
	.buscar
		button(ng-click="buscarEnSpotify()" id="buscar_btn" class="btn-buscar iblock") Buscar
		input(type="text" class="form-control iblock" ng-model="text" id="buscador_spotify"  placeholder="Buscar en Spotify")
	input(type="text" class="form-control" ng-model="buscador"  placeholder="Filtrar Canciones del Listado")

//- Resultados
div#search
	ul
		article(ng-repeat="item in resultados | filter: buscador | limitTo: 2" ng-model="cancion")
			.col-xs-3
				figure
					img(ng-src="{{ item.album.images[0].url }}" alt="{{ item.album.name }}")
			.col-xs-9
				//- a(href="{{ item.external_urls.spotify }}" target="_blank") Link Público
				.cancion {{ item.name }}
				.artista {{ item.artists[0].name }}
				audio(controls)
					source(ng-src="{{item.preview_url | trusted}}" src="{{item.preview_url | trusted}}" type="audio/ogg")
					source(ng-src="{{item.preview_url | trusted}}" src="{{item.preview_url | trusted}}" type="audio/mpeg")

				.acciones
					span(class="fa fa-info-circle" title="Descripción:" custom-popover popover-html="Artista: {{item.artists[0].name}} <br /> Título: {{item.name}} <br /> Álbum: {{item.album.name}} <br /> Track: {{item.track_number}} <br /> Duración: {{item.duration_ms | date: 'mm:ss'}}" popover-placement="bottom" popover-label="Label")
					
					//- facebook
					a(href="#" socialshare socialshare-provider="facebook" socialshare-text="{{item.artists[0].name}} - {{item.name}}" socialshare-url="{{item.external_urls.spotify}}")
						span(class="fa fa-facebook-square")

					//- twitter
					a(href="#" socialshare socialshare-provider="twitter" socialshare-text="{{item.artists[0].name}} - {{item.name}}" socialshare-hashtags="{{item.name}}, {{item.artists[0].name}}" socialshare-url="{{item.external_urls.spotify}}")
						span(class="fa fa-twitter-square")
					
					//- google plus
					a(href="#" socialshare socialshare-provider="google" socialshare-url="{{item.external_urls.spotify}}")
						span(class="fa fa-google-plus-square")