header
		//- h1 
		//- 	span(class="fa fa-spotify" aria-hidden="true")
		//- 	| #{title}

	.container
		.row
			.col-xs-6
				search-view(ng-controller="searchController")

			.col-xs-6
				//- album-view(ng-controller="albumController")