header
	h1(class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="1s")
		span(class="fa fa-spotify" aria-hidden="true")
		| SpotEclass

section#contenido_principal
	.container
		.row
			div(id="searchView" class="col-sm-8")
				search-view(ng-controller="searchController")

			aside(id="albumView" class="col-sm-4")
				album-view(ng-controller="albumController")

footer Realizado por 
	a(href="mailto:sanchez.carlos.1986@gmail.com") Carlos Sánchez