//-header
		h1 
			span(class="fa fa-spotify" aria-hidden="true")
			| SpotEclass

.container
	.row
		.col-xs-8
			//- search-view(ng-controller="searchController")

		.col-xs-4
			album-view(ng-controller="albumController")