doctype html
html(lang='es' ng-app="eclass")

	- var title = "SpotEclass"

	head
		meta(charset='utf-8')
		meta(name="viewport" ,content="width=device-width , initial-scale=1 ,maximum-scale=1")
		link(href="./public/favicon.png" rel="shortcut icon" type="image/png")
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
		link(rel="stylesheet", href="./public/css/estilos.css")
		script(src="http://mynameismatthieu.com/WOW/dist/wow.min.js")
		<!--[if lt IE 9]>
		script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
		script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
		<![endif]-->

		title #{title}
		script.
			var wow = new WOW(
				{
					boxClass:     'wow', 
					animateClass: 'animated', 
					offset:       0,          
					mobile:       false        
				}
			);
			wow.init();


	body
		section.wow
		ng-view

		script(data-require="jquery@2.1.1" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js")
		script(src="https://code.angularjs.org/1.5.5/angular-route.min.js")
		script(src="./public/js/angular-socialshare.js")
		script(src="./public/js/app.js")
		script(src="./public/js/controllers.js")
		script(src="./public/js/directives.js")
		script(src="./public/js/filters.js")