doctype html
html(lang='es')

	head
		meta(charset='utf-8')
		meta(name="viewport" ,content="width=device-width , initial-scale=1 ,maximum-scale=1")
		link(href="favicon.ico" rel="icon" type="image/x-icon")
		title eClass

		//- Latest Bootstrap compiled and minified CSS
		link(rel="stylesheet" href="./css/estilos.css")

	body

		h1 eClass

		script#__bs_script__(type='text/javascript').
			//<![CDATA[
			document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.2.11.1.js'><\/script>".replace("HOST", location.hostname));
			//]]>