
<h2 class="wow fadeInDown">Álbum de la Semana</h2>
<article data-wow-duration="1s" data-wow-delay="1s" class="wow tada">
  <div class="col-sm-4">
    <figure><img src="./public/img/cover.jpg" alt="{{artista_name}}"/>
    </figure>
  </div>
  <div class="col-sm-8">
    <h4>{{artista_name}}</h4>
    <h5>Grandes Éxitos</h5>
  </div>
</article>
<div class="col-sm-12">
  <table>
    <tr ng-repeat="item in canciones | filter: buscador" data-wow-duration="1s" data-wow-delay="1s" class="wow fadeInRight">
      <td>{{item.track_number}}	</td>
      <td> 
        <p>{{item.name}}</p>
      </td>
    </tr>
  </table>
</div>