
<form>
  <h4><span aria-hidden="true" class="fa fa-search"></span>{{ (canciones | filter: buscador).length  }} / {{canciones.length}} canciones de {{artista_name}}</h4>
  <input type="text" ng-model="buscador" placeholder="Filtrar Canciones del Álbum" class="form-control"/>
</form>
<figure>
</figure>
<div id="spotify">
  <song-item></song-item>
</div>
<table>
  <tr> 
    <td>Track</td>
    <td>Song</td>
    <td>Duration</td>
  </tr>
  <tr ng-repeat="cancion in canciones | filter: buscador">
    <td>{{cancion.track_number}}	</td>
    <td> <a title="Descripción:" custom-popover="custom-popover" popover-html="Artista: {{artista_name}} &lt;br /&gt; Título: {{cancion.name}} &lt;br /&gt; Track: {{cancion.track_number}} &lt;br /&gt; Duración: {{cancion.duration_ms | date: 'mm:ss'}}" popover-placement="bottom" popover-label="Label">{{cancion.name}}</a></td>
    <td>{{cancion.duration_ms | date: 'mm:ss'}}</td>
  </tr>
</table>