<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial-scale=1 ,maximum-scale=1">
    <link href="./public/favicon.png" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="./public/css/estilos.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <title>eClass Spotify</title>
  </head>
  <body>
    <h1>eClass Spotify</h1>
    <div id="spotify">
      <h3>Resultados para <span class="artista"></span></h3><img src="" style="width:250px; height:auto">
      <ul></ul>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="./public/js/app.js"></script>
  </body>
</html>