
<form>
  <h4><span aria-hidden="true" class="fa fa-search">Buscador de canciones</span></h4>
  <div class="buscar">
    <button ng-click="buscarEnSpotify()" id="buscar_btn" class="btn btn-primary">Buscar</button><span ng-if="text.length &lt; 3">Ingrese un mínimo de 3 caracteres</span>
  </div>
  <input type="text" ng-model="text" id="buscador_spotify" placeholder="Buscar en Spotify" class="form-control"/>
  <input type="text" ng-model="buscador" placeholder="Filtrar Canciones del Listado" class="form-control"/>
</form>
<div id="resultados">
  <ul>
    <article ng-repeat="item in resultados | filter: buscador | limitTo: 10">
      <div class="col-xs-3"><img ng-src="{{ item.album.images[0].url }}" alt="{{ item.album.name }}"/></div>
      <div class="col-xs-9"><a title="Descripción:" custom-popover="custom-popover" popover-html="Artista: {{item.artists[0].name}} &lt;br /&gt; Título: {{item.name}} &lt;br /&gt; Álbum: {{item.album.name}} &lt;br /&gt; Track: {{item.track_number}} &lt;br /&gt; Duración: {{item.duration_ms | date: 'mm:ss'}}" popover-placement="bottom" popover-label="Label" class="fa fa-pencil">Detalles</a><br/><a href="{{ item.external_urls.spotify }}" target="_blank">Link Público</a>
        <h5>{{ item.name }}</h5>
        <h6>{{ item.artists[0].name }} -<i>{{ item.album.name }}</i></h6>
      </div>
    </article>
  </ul>
</div>