
<h2>Buscador de canciones</h2>
<form>
  <div class="buscar">
    <button ng-click="buscarEnSpotify()" id="buscar_btn" class="btn-buscar iblock">Buscar</button>
    <input type="text" ng-model="text" id="buscador_spotify" placeholder="Buscar en Spotify" class="form-control iblock"/>
  </div>
  <input type="text" ng-model="buscador" placeholder="Filtrar Canciones del Listado" class="form-control"/>
</form>
<div id="search">
  <ul>
    <article ng-repeat="item in resultados | filter: buscador | limitTo: 2" ng-model="cancion">
      <div class="col-sm-3">
        <figure><img ng-src="{{ item.album.images[0].url }}" alt="{{ item.album.name }}"/></figure>
      </div>
      <div class="col-sm-9">
        <div class="cancion">{{ item.name }}</div>
        <div class="artista">{{ item.artists[0].name }}</div>
        <audio controls="controls">
          <source ng-src="{{item.preview_url | trusted}}" type="audio/ogg"/>
          <source ng-src="{{item.preview_url | trusted}}" type="audio/mpeg"/>
        </audio>
        <acciones-item></acciones-item>
      </div>
    </article>
  </ul>
</div>