#albumView
	article
		margin-bottom 1em
		overflow hidden
		
		figure
			border-radius 100%
			overflow hidden
			position relative
			img 
				height auto
				width 100%
				
		h4
			border-bottom 2px solid enabled
			padding-bottom 5px
			margin-bottom 5px
		h5
			color rgba(white, .5)
			margin-top 0
			
	td
		border-bottom 1px solid rgba(white, 0.05)
		
		a 
			color rgba(white, .8)
			transition all .25s
			&:hover 
				color enabled
				text-decoration none