@font-face
	font-family 'mega_man_battle_networkRg'
	src url('../fonts/mega-man-battle-network-webfont.eot')
	src url('../fonts/mega-man-battle-network-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/mega-man-battle-network-webfont.woff2') format('woff2'),
		 url('../fonts/mega-man-battle-network-webfont.woff') format('woff'),
		 url('../fonts/mega-man-battle-network-webfont.ttf') format('truetype'),
		 url('../fonts/mega-man-battle-network-webfont.svg#mega_man_battle_networkRg') format('svg')
	font-weight normal
	font-style normal