@media screen and (max-width: 768px)
	header
		background-position center center,center -570px 
		
@media screen and (max-width: 375px)
	header
		background-position center center,center -440px
		
@media screen and (max-width: 320px)
		
	#searchView #buscador_spotify,
	#searchView #filtrador
		width 100%