article_bg 	= #222326
cancion 	= rgba(white, .7)
artista 	= rgba(white, .4)

#searchView
	.form-control:focus,
	.form-control:hover
		box-shadow none
		outline none
		
	#buscador_spotify
		background none
		border-bottom 2px solid enabled
		border-left 0
		border-radius 0
		border-right 0
		border-top 0
		color white
		margin-right .5em
		width 70%
		
	#filtrador
		background none
		border-bottom 2px solid disabled
		border-left 0
		border-radius 0
		border-right 0
		border-top 0
		color white
		font-style italic
		width 50%

	article
		background-color article_bg
		border 8px solid background
		padding 0
		// margin-bottom 3em
		figure
			position relative
			img 
				height auto
				width 100%
			span 
				position absolute
				left 1em
				top 1em
			audio
				width 100%
				bottom 0
				position absolute
		.detalles
			padding 1em
			min-height 130px
			position relative
						
			.cancion
				color cancion
			.artista
				color artista
		
			acciones-item
				position absolute
				width 85%
				bottom 10px