#search 
	article
		border-bottom 1px solid #2e2f33
		clear both
		overflow hidden
		margin-bottom 5px
		
	.col-xs-3
		padding-left 0
	
	.artista
		color rgba(white, 0.3)
	
	img 
		height auto
		width 100%